extends layout

block content  
  a(href='/login') 
    button(type="button" id="login") LogIn 
  h1 Welcome
  section(id='slideshow')
  .lp-wr
    .lp-content
      .lp-slider1.owl-carousel
        img(src='', alt='none')

  
